// Mixin media all

// sm: 576px,
// md: 768px,
// lg: 1042px,
// xl: 1290px

$mq-xs: 576px;
$mq-sm: 768px;
$mq-md: 1042px;
$mq-lg: 1290px;

// Down
// -----------------------------------------
@mixin maxw($breakpoint) {

  @if $breakpoint == xs {
    @media (max-width: "#{$mq-xs - 1}") {
      @content;
    }
  }
  @else if $breakpoint == sm {
    @media (max-width: "#{$mq-sm - 1}") {
      @content;
    }
  }
  @else if $breakpoint == md {
    @media (max-width: "#{$mq-md - 1}") {
      @content;
    }
  }
  @else if $breakpoint == lg {
    @media (max-width: "#{$mq-lg - 1}") {
      @content;
    }
  }
  @else {
    @media (max-width: "#{$breakpoint}") {
      @content;
    }
  }
}

// Up
// -----------------------------------------
@mixin minw($breakpoint) {

  @if $breakpoint == xs {
    @media (min-width: "#{$mq-xs}") {
      @content;
    }
  }
  @else if $breakpoint == sm {
    @media (min-width: "#{$mq-sm}") {
      @content;
    }
  }
  @else if $breakpoint == md {
    @media (min-width: "#{$mq-md}") {
      @content;
    }
  }
  @else if $breakpoint == lg {
    @media (min-width: "#{$mq-lg}") {
      @content;
    }
  }
  @else {
    @media (min-width: "#{$breakpoint}") {
      @content;
    }
  }
}

// Between
// -----------------------------------------
@mixin custom-device($min, $max){
  @media all and (min-width: "#{$min}") and (max-width: "#{$max}") {
      @content;
  }
}
