/coverage/**
.idea
.next
node_modules
yarn.lock
.DS_Store
.vscode
yarn-error.log
env.yaml
error.log
git-commit-hash
Dockerfile
package.json
README.md
*.svg
.babelrc
.eslintrc
.gitignore
env.example.yaml
error.log
package-lock.json
img
scss
scss/*
.eslintignore
.editorconfig
package.json
package-lock.json
gulpconfig.js

