.login
{
    background-image:url( '../images/bg.jpg' );
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size: cover;
}
#login h1 a {
    background-image: url( '../images/logos-marcas-belcorp.svg' );
    background-size: 100%;
    height: 50px;
    width: 90%;
}
.login #login_error, .login .message, .login .success{
    background: transparent;
    color: #fff;
    border: 0;
    box-shadow: none;
}
/* Add a few changes to the color and style of form itself */
.login form{
    background: transparent;
    border: 0px;
    box-shadow:none;
    padding:20px;
}
#login {
    background: rgba(0,0,0,.8);
    margin: 50px auto;
    padding: 20px 20px;
    width: 400px;
}
.login label {
    color: #ffffff;
    font-size: 14px;
}
.login form .forgetmenot{
    float:none;
}
#login form p.submit{
    margin-top:15px;
}
#login form input[type=text]:focus,
#login form input[type=password]:focus {
    box-shadow: none;
}
#login form input[type=text],
#login form input[type=password]{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #959595;
    background: transparent;
    color: #ffffff
}
#login .button-secondary {
    color: #ffffff;
}
.login.wp-core-ui .button-primary {
    background: #672779;
    border-color:#672779;
    box-shadow: 0 1px 0 #672779;
    color: #FFF;
    text-shadow: none;
    float: none;
    clear: both;
    display: block;
    width: 100%;
    padding: 7px;
    height: auto;
    font-size: 15px;
    border-radius: 0;
}
p#nav,
p#backtoblog
{
    display: none;
}